<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://colsp-dev.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>colsp-dev.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>colsp-dev</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$colsp-dev</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ColspEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=27.254.48.197;Initial Catalog=colsp;Persist Security Info=True;User ID=sa-laki;Password=Zxcv123!;Application Name=EntityFramework" Name="Data Source=27.254.48.197;Initial Catalog=colsp;Persist Security Info=True;User ID=sa-laki;Password=Zxcv123!;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Colsp.Entity.Models.ColspEntities, Colsp.Entity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ColspEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ColspModel.csdl|res://*/Models.ColspModel.ssdl|res://*/Models.ColspModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=27.254.48.197;Initial Catalog=colsp;Persist Security Info=True;User ID=sa-laki;Password=Zxcv123!;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>